* {
  box-sizing: border-box;
  font-size: 1.3rem;
}
:root {
  --clr-bg: rgb(108, 224, 166);
  --clr-text: rgb(14, 10, 10);
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--clr-text);
  background-color: var(--clr-bg);
}
.cont {
  background-color: white;
  width: 40vw;
  height: auto;
  /* display: flex; */
  text-align: center;
  align-items: center;
  padding: 2%;
  margin: 20px;
  border-radius: 10px;
}
@media (max-width: 750px) {
  .cont {
    width: 80vw;
  }
}

header {
  margin: 15px;
}
